{% extends 'layouts/base.html' %}

{% load custom_filters %}

{% block content %}
	{% include 'elements/nav_top.html' %}
	<div class="container">
		{% include 'elements/nav_content.html' %}
		<div class="content">
			{% for message in messages %}
				<div class="row">
					<div class="alert alert-{{ message.tags }} col-md-12">{{ message }}</div>
				</div>
			{% endfor %}
			<div class="row">
				<div class="col-md-4">
					<p><strong>Asesor principal: </strong>{{ object.asesor }}</p>
				</div>
				<div class="col-md-4">
					<p><strong>Tipo de solución: </strong>{{ object.tipo_solucion }}</p>
				</div>
				<div class="col-md-4">
					<p><strong>Área temática: </strong>{{ object.area_tematica }}</p>
				</div>
			</div>
			<p class="title-project" style="font-size: 20px;">
				<strong>{{ object.nombre_proyecto }}</strong>
			</p>
			<p>{{ object.descripcion_proyecto }}</p>
			<div class="row">
				<div class="col-md-4">
					<p><strong>Autor principal: </strong>{{ object.nombre_autor }}</p>
				</div>
				<div class="col-md-3">
					<p><strong>Año publicación: </strong>{{ object.fecha_publicacion }}</p>
				</div>
			</div>
			<a href="{% url 'download_document' object.pk %}" class="btn btn-default" target="_blank">Descargar Resumen</a>
			{% if user.is_authenticated %}
				<a href="{% url 'edit_proyecto' object.pk %}" class="btn btn-success">Editar proyecto</a>
				<a href="{% url 'delete_proyecto' object.pk %}" class="btn btn-primary open-modal" data-toggle="modal" data-target="#Modal">Eliminar proyecto</a>
			{% endif %}
		</div>
		<h3>Proyectos relacionados:</h3>
		{% relation_project object.pk as project_related %}
		<div class="row">
			{% for proyecto in project_related %}
				<div class="col-md-4">
					<div class="content">
						<a href="{% url 'detalle_proyecto' proyecto.pk %}">
							<strong>{{ proyecto.nombre_proyecto }}</strong>
						</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock content %}