{% extends 'layouts/base.html' %}

{% block content %}
	{% include 'elements/nav_top.html' %}
	<div class="container">
		{% include 'elements/nav_content.html' %}
		<div class="content">
			{% for message in messages %}
				<div class="row">
					<div class="alert alert-{{ message.tags }} col-md-12">{{ message }}</div>
				</div>
			{% endfor %}
			<div class="row">
				<div class="col-md-8">
					<h2>
						Proyectos
						{% if user.is_authenticated %}
							<a href="{% url 'crear_proyecto' %}" class="btn btn-primary">Agregar proyecto</a>
						{% endif %}
					</h2>
					<small>Encontrará aquí los proyectos del programa de ingenieria de sistemas que estan archivados en la biblioteca Guillermo Bermudez desde el año 1991 hasta el año 2015</small>
					{% for proyecto in object_list %}
						<div class=" col-md-12 item">
							<div class="col-md-4">
								<small>
									<strong>Área temática: </strong>
									{{ proyecto.area_tematica }}
								</small>
							</div>
							<div class="col-md-6">
								<small>
									<strong>Asesor principal: </strong>
									{{ proyecto.asesor }}
								</small>
							</div>
							<div class="col-md-2 text-right">
								<small>
									<strong>{{ proyecto.fecha_publicacion }}</strong>
								</small>
							</div>
							<div class="col-md-12">
								<p class="title-project">
									<a href="{% url 'detalle_proyecto' proyecto.pk %}">
										<strong>{{ proyecto.nombre_proyecto }}</strong>
									</a>
								</p>
							</div>
						</div>
					{% empty %}
						<h3>No se encontraron resultados</h3>
					{% endfor %}
					<div class="col-md-12">
						{% include 'elements/pagination.html' %}
					</div>
				</div>
				<div class="col-md-4">
					<div class="col-md-12 text-center" id="filter">
						<h4>Filtros</h4>
					</div>
					<div class="col-md-12">
						<form action="{% url 'lista_proyecto' %}" method="GET" style="margin-top: 15px">
							<div class="row">
								{% for forms in form %}
									<div class="form-group col-md-12">
										<label>{{ forms.label }}</label>
										{{ forms }}
									</div>
								{% endfor %}
								<div class="form-group text-center col-md-12">
									<button type="submit" class="btn btn-success">Filtrar</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}

{% block content_script %}
	$('#id_filtro_anio').children().addClass("col-md-4")
{% endblock content_script %}