{% extends 'layouts/base.html' %}

{% block content %}
	{% include 'elements/nav_top.html' %}
	<div class="container">
		{% include 'elements/nav_content.html' %}
		<div class="content">
			<div class="row">
				<div class="col-md-12">
					<h2>Programa de ingeniería de sistemas <small>Girardot, Cundinamarca</small></h2>
					<p>La ingeniería de sistemas es una profesión que desarrolla soluciones informáticas las cuales contribuyen al mejoramiento de las organizaciones y es uno de los planes fundamentales del desarrollo tecnológico del país. Forma excelente profesionales con una aproximación interdisciplinaria, fundamentada en las ciencias básicas y la investigación que desarrolla soluciones que tengan que ver con el procesamiento de la información mejorando la calidad de vida de las personas.</p>
				</div>
				<div class="col-md-12">
					<h2>Misión</h2>
					<p>El programa tiene como misión formar profesionales con pensamiento sintético y sólidos conocimientos de las ciencias básicas, humanísticas y disciplinares; con énfasis en modelaje y análisis de sistemas. Educando con formación integral y visión de carácter social e investigativa, consciente de su responsabilidad con el medio ambiente y las necesidades históricas del país.</p>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}