{% load custom_filters %}

<div id="nav-top">
	<div class="container">
		<div class="col-md-6">
			<div id="show-day">{% date_now %}</div>
		</div>
		<div class="col-md-6">
			{% if user.is_authenticated %}
				<div class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Bienvenido, {{ user.first_name }} <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li>
								<a href="{% url 'logout' %}">Salir</a>
							</li>
						</ul>
					</li>
				</div>
			{% else %}
				<div class="text-right">
					<a href="{% url 'login' %}" class="btn btn-default">Ingresar</a>
				</div>
			{% endif %}
		</div>
	</div>
</div>