{% if is_paginated %}
	<nav>
		<ul class="pager">
			<li class="previous {% if not page_obj.has_previous %}disabled{% endif %}"><a href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% else %} # {% endif %}"><span aria-hidden="true">&larr;</span> Anterior</a></li>
			<li class="next {% if not page_obj.has_next %}disabled{% endif %}"><a href="{% if page_obj.has_previous %}?page={{ page_obj.next_page_number }}{% else %} # {% endif %}">Siguiente <span aria-hidden="true">&rarr;</span></a></li>
		</ul>
	</nav>
{% endif %}